body{

  background-color: aquamarine;
}

.ger{
 margin-top: 200px;
 text-align: center;
 
 
  
}

.ber{
  height: 80px;
  width: 100px;
  background-color:thistle;
  border-radius: 20px;
  font-size: 20px;
  color: blue;
}

.numbr{
  color: blue;
  font-size: 40px;
}

